{% extends "shopapp/base.html" %}

{% block content %}
    <h2>Список заказов</h2>
    <a href="{% url 'shopapp:order_create' %}">Создать заказ</a>
    <ul>
        {% for order in orders %}
            <li>
                <a href="{% url 'shopapp:order_detail' order.pk %}">Заказ #{{ order.pk }}</a>
                (Пользователь: {{ order.user|default:"Аноним" }})
                <ul>
                    {% for product in order.products.all %}
                        <li>{{ product.name }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
