{% extends "shopapp/base.html" %}

{% block content %}
    <h2>Добро пожаловать в магазин!</h2>
    <p>Выберите, куда хотите перейти:</p>
    <ul>
        <!-- Главная -->
        <li><a href="{% url 'shopapp:shop_index' %}">🏠 Главная</a></li>

        <!-- Продукты -->
        <li><a href="{% url 'shopapp:product_list' %}">📦 Список продуктов</a></li>
        {% if perms.shopapp.add_product %}
        <li><a href="{% url 'shopapp:product_create' %}">➕ Создать продукт</a></li>
        {% endif %}
        <!-- Заказы -->
        <li><a href="{% url 'shopapp:order_list' %}">📋 Список заказов</a></li>
        <li><a href="{% url 'shopapp:order_create' %}">🛒 Создать заказ</a></li>

        <!-- Аутентификация -->
        <li><a href="{% url 'myauth:login' %}">🔑 Вход</a></li>
        <li><a href="{% url 'myauth:logout' %}">🚪 Выход</a></li>

        <!-- Cookies -->
        <li><a href="{% url 'myauth:read_cookie' %}">🍪 Чтение Cookie</a></li>
        <li><a href="{% url 'myauth:set_cookie' %}">🍪 Установка Cookie</a></li>

        <!-- Сессии -->
        <li><a href="{% url 'myauth:read_session' %}">📂 Чтение сессии</a></li>
        <li><a href="{% url 'myauth:set_session' %}">📂 Установка сессии</a></li>

        <!-- Админка -->
        <li><a href="/admin/">⚙️ Админ-панель</a></li>
    </ul>
{% endblock %}
